{% load static %}

<!DOCTYPE html>
<html id="top" lang="en">
<head>
  <link rel="stylesheet" href="{% static 'stylesheets/styles.css' %}" > 
  <link rel="stylesheet" href="{% static 'stylesheets/rightsidebar.css' %}" >
  <link rel="stylesheet" href="{% static 'stylesheets/scrollbar.css' %}" >
  <title>Dakhari Ebanks</title>
</head>
<body id="body">
  <!-- This div is for header/NavBar
  <div id="header">
    <div class="left"><p>Logo/Photo</p></div>
    <div class="right">
      <div><p>About</p></div>
      <div><p>Work</p></div>
      <div><p>Contact</p></div>
    </div>
  </div>
  -->

  <!-- This div is for Introduction-->
  <div class="intro">
    <h1 id="hello">Hello! </h1>
    <p class="me">Dakhari Ebanks,
      software developer and computer engineering student.
    </p>
  </div>
  <!-- This div is for about me-->
  <div class="about-me">

  </div>
  <!-- This div is for Projects-->
  <div id="title-projects">
    <h1>Projects</h1>
  </div>
  <div id="projects">
    {% for project in projects %}
    <div class="project-box">
      <div class="name">{{project.name}}</div>
      <div class="project-preview">
        <img class='TD-pic' src="{{project.photo.url}}">
      </div>
      <div class="project-Description"><p>{{project.description}}</p></div>
      <div class="project-tech">
        <p>{{project.tech}}</p>
      </div>
      <div class="project-links"> 
        <a href='{{project.gitlink}}' target='blank'> Git </a> | 
        <a href='{{project.codelink}}' target='blank'> Code </a>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- This div is for right Nav-sidebar-->
  <div class ="right-sidebar">
    <a href="#top">
      <div class="sidebar-about">
        <div class="tool-tip">About</div>
      </div>
    </a>
    <div class="bar"></div>
    <a href="#title-projects">
      <div class="sidebar-work">
        <div class="tool-tip">Projects</div>
      </div>
    </a>
    <div class="bar"></div>
    <a href="#Contact-me">
      <div class="sidebar-contact">
        <div class="tool-tip">Contact</div>
      </div>
    </a>
  </div>

  <!-- This div is for Contact form/Footer-->
  <div class="Footer">
    <div id="title-contact">
      <h1 id="Contact-me">Contact me!</h1>
    </div>
    <div class="contact-info">
      <div class="test">
      <form method="POST">
      {% csrf_token %}
        <input class="contact-name" type="text" name="contact-name" placeholder="Name">
        <input class="contact-email" type="email" name="contact-email" placeholder="Email">
        <textarea class="contact-text" type="text" name="contact-text" placeholder="Message"></textarea>
        <input class="sumbit" type="Submit" value="Contact me">
      </form>
      </div>
    </div>
  </div>
  
  
</body>
</html>