{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{% static 'stylesheets/styles.css' %}" > 
  <link rel="stylesheet" href="{% static 'stylesheets/rightsidebar.css' %}" >
  <title>Dakhari Ebanks</title>
</head>
<body id="body">
  <!-- This div is for header/NavBar-->
  <div id="header">
    <div class="left"><p>Logo/Photo</p></div>
    <div class="right">
      <div><p>About</p></div>
      <div><p>Work</p></div>
      <div><p>Contact</p></div>
    </div>
  </div>

  <!-- This div is for About me-->
  <div class="about_me">
    <h1 id="hello">Hello! </h1>
    <p class="me">Dakhari Ebanks,
      software developer and computer engineering student.
    </p>
  </div>

  <!-- This div is for Projects-->
  <div id="projects">
    {% for project in projects %}
    <div class="project-box">
      <div class="name">{{project.name}}</div>
      <div class="project-preview">
        <img class='TD-pic' src="{{project.photo.url}}">
      </div>
      <div class="project-Description"><p>{{project.description}}</p></div>
      <div class="project-tech"><h1>Tech Stack</h1> 
        <p>{{project.tech}}</p>
      </div>
      <div class="project-links"> 
        <a href='{{project.gitlink}}' target='blank'> Git </a> | 
        <a href='{{project.codelink}}' target='blank'> Code </a>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- This div is for right Nav-sidebar-->
  <div class = "right-sidebar">
    <div class="sidebar-about">About</div>
    <div class="sidebar-work"><a href="#projects">Work</a></div>
    <div class="sidebar-contact">Contact</div>
  </div>

  <!-- This div is for Contact form-->
    <div class="contact-info">
      <p id="Contact-me">Contact me!</p>
      <div class="test">
      <form method="POST">
      {% csrf_token %}
        <p>Name</p>
        <input class="contact-name" type="text" name="contact-name">
        <p>Email</p>
        <input class="contact-email" type="email" name="contact-email">
        <p>Message</p>
        <input class="contact-text" type="text" name="contact-text">
        <input class="sumbit" type="Submit">
      </form>
      </div>
    </div>
  
  
</body>
</html>