html{
  scroll-behavior: smooth;
  font-size: 1.2rem;
}
#header{
  top: 0px;
  left: 0px;
  right: 0px;
  font-size: 60px;
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.left{
  font-size: 30px;
  width: 15%;
  display: flex;
  margin: 0 0 0 30px;
}
.right{

  width: 280px;
  font-size: 25px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  margin: 0 60px 0 0;
}

#body{
  margin-bottom: 1000px;
  background-color: rgb(64, 3, 120);
}

.about_me{
  height: 300px;
  width: 50%;
  margin: 300px;
  display: table;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  padding: 2%;
  font-size: 2rem;
  border: 1px solid black;
}

#projects{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 50px;
  column-gap: 50px;
  width: 60%;
  justify-content: center;
  margin: auto;
  margin-top: 10px;
  
}

.project-box{
  color: black;
  padding: 9%;
  position: relative;
  border-radius: 30px;
  border: 1px solid black;
  display: grid;
}

.project-links{
  position: absolute;
  top: 3;
}

.TD-pic{
  width: 100%;
  padding-top: 8px;
}

.project-Description{
  text-align: center;
}


.project-tech{
  font-size: 16px;
  text-align: center; 
  align-self: end;
}

.project-links{
  position: absolute;
  bottom: -23px;
  left: 50%;
  transform: translate(-50%, 0);
}

.name{
  position: absolute;
  top: 3px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 28px;
  white-space: nowrap;
}


.contact-info{
  margin: 100px auto;
  display: flex;
  padding: 2%;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  border: 1px solid black;
  width: 60%;
  padding: 0 30px 30px 30px;
}

#Contact-me{
  text-align: center;
  width: 100%;
}
.contact-name{
  width: auto;
}

.contact-text{
  height: 300%;
}


@media(max-width: 800px){
  #projects{
    grid-template-columns: 1fr;
  }
}

@media(min-width: 801px)  and (max-width: 1500px){
  #projects{
    grid-template-columns: 1fr 1fr;
  }
}